<!DOCTYPE html>
<html lang="en" class="sb-init">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <title>
        Exam_Module
    </title>
    <meta name="description" content="Best CakePHP Based online exmaination and performance analysis system">   
   
    @Styles.Render("~/Content/css")
  
    @Scripts.Render("~/bundles/jquery")
    <style type="text/css">
        .HeaderRaj {
            width:73% !important;
        }
    </style>
</head>
<body cz-shortcut-listen="true">
    <div id="sb-site" style="min-height: 1383px;">
        <div id="wrap">
            <div class="main-inner-content">
                <header id="header" class="section cover header-bg" data-bg="/AdminFiles/Images/slider.png" style="background-image: url(&quot;/AdminFiles/Images/slider.png&quot;);">
                    <div class="logo-header">
                        <div class="container">
                            <div class="ulogo-container clearfix">
                                <div class="logo pull-left HeaderRaj">
                                   <div class="col-sm-2">
                                       <h3><strong><i><p><img src="~/AdminFiles/Images/Logos/col.jpg" alt="Exam Center" width="90" class="img-responsive"></p></i></strong></h3>
                                   </div>
                                    <div class="col-sm-6">
                                        <img src="~/AdminFiles/Images/Logos/NamePlate.jpg" style="width: 100%;margin-left: -15%;margin-top: 6.5%;" />
                                    </div>
                                </div>
                                <div class="social-info pull-right hidden-xs hidden-sm">
                                    <div class="col-md-4 mrg text-center">
                                        <div class="btn-group user-login">
                                            <div class="btn dropdown-toggle" style="background: none;border: 0px;box-shadow: none;" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-user btn btn-success btn-sm"></span>&nbsp;Welcome ! @try
                                                                                                                                     {@User.Identity.Name.Substring(0,13)}
                                                                                                                                     catch { } &nbsp;<span class="caret"></span>
                                            </div>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table" style="margin-bottom:0px">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="2"><a href="/Admin_Task/UserProfile" class="btn btn-primary btn-xs btn-block"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="/Account/ChangePassword" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a>											</td>
                                                                    <td><a href="/Account/LogOff" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a>											</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong><small><div id="clock"></div></small></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                    </div>
                    <div class="site-menu">
                        <div class="container">
                            <div class="site-menu-inner clearfix">
                                <div class="site-menu-container pull-left">
                                    <nav class="hidden-xs hidden-sm">
                                        <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                            <li class="RajMenu 1"><a href="/Home/Index"><span class="glyphicon glyphicon-home"></span>&nbsp;Dashboard</a></li>
                                            <li class="RajMenu 2"><a href="/SubjectGroup/QuestionList"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Questions</a></li>
                                            <li style="display:none;"><a href="/SubjectGroup/GroupMaster"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Groups</a></li>
                                            <li class="RajMenu 3"><a href="/Student/StudentMaster"><span class="glyphicon glyphicon-user"></span>&nbsp;Students</a></li>
                                            <li class="RajMenu 4"><a href="/Exam/ExamMaster"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Exams</a></li>
                                            <li class="RajMenu 5"><a href="/Exam/ResultMaster"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Results</a></li>
                                            <li class="RajMenu 6"><a href="/ArrivalSchema/ArrivalDataList"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Arrival Schema</a></li>
                                            <li class="RajMenu 7"><a href="/Account/AdminUserRegister"><span class="glyphicon glyphicon-user"></span>&nbsp;Users</a></li>
                                            <li class="RajMenu 8"><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;Contents</a></li>
                                            <li class="RajMenu 9"><a href="#"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Help</a></li>
                                            <li class="menu-hidden"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></li>
                                            <li class="menu-hidden"><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a></li>
                                            <li class="menu-hidden"><a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                @RenderBody()
            </div>
            <footer id="footer">
                <div class="footer-widget">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget">
                                    <h5 class="widget-title">
                                        All Rights Reserved By<span> OTA Kamptee</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="widget">
                                    <h5 class="widget-title">
                                        Time <span>@DateTime.Now</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-credits">
                    <div class="container">
                        <div class="footer-credits-inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Powered by <a href="#" target="_blank">OTA Kamptee.</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    <div class="sb-slidebar sb-right">
        <div class="sb-menu-trigger"></div><ul class="mobile-menu">
                                               <li class="current-menu-item"><a href="/Home/Index"><span class="glyphicon glyphicon-home"></span>&nbsp;Dashboard</a></li>
                                               <li class=""><a href="/SubjectGroup/QuestionList"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Questions</a></li>
                                               <li class=""><a href="/SubjectGroup/GroupMaster"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Groups</a></li>
                                               <li class=""><a href="/Student/StudentMaster"><span class="glyphicon glyphicon-user"></span>&nbsp;Students</a></li>
                                               <li class=""><a href="/Exam/ExamMaster"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Exams</a></li>
                                               <li class=""><a href="/Exam/ResultMaster"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Results</a></li>
                                               <li class=""><a href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Configurations</a></li>
                                               <li class=""><a href="/Account/AdminUserRegister"><span class="glyphicon glyphicon-user"></span>&nbsp;Users</a></li>
                                               <li class=""><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;Contents</a></li>
                                               <li class=""><a href="#"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Help</a></li>
                                               <li class="menu-hidden"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></li>
                                               <li class="menu-hidden"><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a></li>
                                               <li class="menu-hidden"><a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a></li>
        </ul>
    </div><a class="back-to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>
</body>
@RenderSection("Scripts", required: false)
</html>
<script type="text/javascript">
    $(document).ready(function () {
            $(".@Session["Menu"].ToString()").addClass('current-menu-item');      
    })
</script>
