@model Exam_Application.Models.DAL.tbl_Student_Language_Masterss
@{

}
<style type="text/css">
    .form-control {
        margin-bottom: 15px !important;
    }
</style>

<script src="~/AdminFiles/RajCustom/common.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default mrg">
                <div class="panel-heading"><div class="widget-modal"><h4 class="widget-modal-title">Add <span>Languages</span><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></h4></div></div>
                <div class="panel-body">
                    @using (Html.BeginForm("AddNCCLanguage", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(x => x.pkid)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        @Html.HiddenFor(x=>x.Student_fkid)

                        <div class="form-group">
                            <label for="group_name" class="col-sm-3 control-label"><small>Language</small></label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Language, new { @class = "form-control Rajstring", @placeholder = "Enter Language Name", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="group_name" class="col-sm-3 control-label"><small>Read</small></label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.ReadL, new { @class = "form-control Rajstring" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="group_name" class="col-sm-3 control-label"><small>Write</small></label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Write, new { @class = "form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="group_name" class="col-sm-3 control-label"><small>Speak</small></label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Speak, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="group_name" class="col-sm-3 control-label"><small>Understand</small></label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Upderstand, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group text-left">
                            <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script type="text/javascript">
    if ('@ViewBag.sid' != "") {
        $("#Student_fkid").val('@ViewBag.sid');
    }
</script>