@model Exam_Application.Models.DAL.tbl_AttemptExamAnswerSheetMatchSepss
@{
    Layout = null;
}
<style type="text/css">
    .parcontentdata {
        background-color: #F9F9F9;
        overflow: auto;
        position: relative;
        width: 100%;
        height: 380px;
        min-height: 380px;
    }

    .Rahupat {
        background-color: #fff !important;
    }

    .RajMark, .RajMark:hover {
        background-color: #8F7CCD;
        color: #fff;
    }
</style>

@using (Html.BeginForm("FullFormQuestion", "StudentExam", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "myform" }))
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question No. @Model.QNo&nbsp;&nbsp;[ @Model.QuesMarks Marks]&nbsp;&nbsp;@Model.QuestypeName</strong></div>
        <div class="table-responsive parcontentdata Inta">
            <table class="table table-striped table">
                <thead>
                    <tr class="Rahupat">
                        <td>
                            @Html.Raw(Server.HtmlDecode(@Model.Question))
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="radio">
                                <label>
                                    @Html.HiddenFor(x => x.pkid)
                                    @Html.HiddenFor(x => x.CorrecrtWrong)
                                    @Html.HiddenFor(x => x.Examid)
                                    @Html.HiddenFor(x => x.Studentid)
                                    @Html.HiddenFor(x => x.QueId)
                                    @Html.HiddenFor(x => x.CorrectAnswerDD)
                                    @Html.HiddenFor(x => x.GainMarks)
                                    @Html.HiddenFor(x => x.QuesMarks)
                                    @Html.HiddenFor(x => x.QNo)
                                    @Html.HiddenFor(x => x.QuestypeName)
                                    @Html.Hidden("SoftwareAs")
                                    @{
    int no = 0;
    foreach (var item in Model.MATContent)
    {
        <div class="col-sm-12">
            <div class="col-sm-2" style="text-align:right;">
                @Html.TextBoxFor(x => x.MATContent[no].FirstColoumn, new { @class = "form-control rem", @placeholder = "Enter Answer" })
                @item.FirstColoumn
            </div>
            <div class="col-sm-5" style="margin-bottom:5px;">
                @Html.TextBoxFor(x => x.FULLF[no].Ans, new { @class = "form-control STA", @placeholder = "Enter Answer" })
            </div>
            <div class="col-sm-4">@Html.TextBoxFor(x => x.MATContent[no].AnsweColoumn, new { @class = "form-control rem", @placeholder = "Enter Answer" })</div>
        </div>

        no++;
    }
                                    }

                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" onclick="Pre()" class="btn btn-default btn-sm btn-block">← Prev</a>
                </div>
                <div class="col-md-3">
                    <a href="#" onclick="ResetAnswer()" class="btn btn-danger btn-sm btn-block"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Reset Answer </a>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-success btn-sm btn-block" value="Save & Next">                   
                </div>
                <div class="col-md-2">
                    <a href="#" onclick="MarkQues()" class="btn btn-default btn-sm btn-block RajMark"> Mark Remember </a>
                </div>
                <div class="col-md-2">
                    <a href="#" onclick="Next()" class="btn btn-default btn-sm btn-block">Next →</a>
                </div>
            </div>
            <div class="row" style="margin-top:1%;">
                <div class="col-sm-8"></div>
                <div class="col-sm-2" style="margin-left: 11.2%;">
                    <input type="#" onclick="FinalExamSubmit()" class="btn btn-success btn-sm fi" value="Submit Exam">
                </div>
            </div>
        </div>
        @*<div class="row fi" style="margin-top:3%;">
                <div class="col-md-3"></div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4"></div>
            </div>*@
    </div>
    @*<p>&nbsp;</p>*@
   
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".STA").click(function () {                       
            if ($("#SoftwareAs").val() == "")
            {
                $("#SoftwareAs").val(1);
            }
        })
        $("#Examid").val($("#ExamHiddenid").val());
        $("#Studentid").val($("#StudHiddenid").val());
        $(".rem").hide();
        $(".fi").hide();
        $(".di").show();
        if (parseFloat($("#QNo").val()) == parseFloat($("#totalQ").val())) {
            $(".fi").show();
            $(".di").hide();
        }

        var cookieObj = $.parseJSON($.cookie('basket-data')); //might be done automatically, not sure
        var wada = 0;
        if (cookieObj[$("#QueId").val()] == "#8F7CCD") { wada = 1; }
        cookieObj[$("#QueId").val()] = "bisque";
        for (var i in cookieObj) {
            $("#" + i + "").css('background-color', '' + cookieObj[i] + '');
            if (cookieObj[i] == 'rgb(255, 255, 255)') {
                $("#" + i + "").css('color', 'black'); $("#" + i + "").css('border-color', 'black');
            }
            else { $("#" + i + "").css('color', '#fff'); $("#" + i + "").css('border-color', '#fff'); }
        }
        $("#" + $("#QueId").val() + "").css('color', 'black'); $("#" + $("#QueId").val() + "").css('border-color', 'black');
        debugger;
        if (parseFloat($("#pkid").val()) > 0) {
            cookieObj[$("#QueId").val()] = "#87B713";
        }
        else if (wada == "1") {
            cookieObj[$("#QueId").val()] = "#8F7CCD";
        }
        else {
            cookieObj[$("#QueId").val()] = "#B2510D";
        }
        $.cookie('basket-data', JSON.stringify(cookieObj));
        $('#myform').submit(function (e) {
            debugger;
            if ($("#SoftwareAs").val() == "") {
                alert("Please Enter Answer for Save & Next.")
                e.preventDefault();
            }
            else {
                var RAJSubmit = $.parseJSON($.cookie('basket-data'));
                RAJSubmit[$("#QueId").val()] = "#87B713";
                for (var i in RAJSubmit) {
                    $("#" + i + "").css('background-color', '' + RAJSubmit[i] + '');
                    $("#" + i + "").css('color', 'black');
                }
                $.cookie('basket-data', JSON.stringify(RAJSubmit));
            }
        });
    });
    function MarkQues() {
        var Visaobj = $.parseJSON($.cookie('basket-data')); //might be done automatically, not sure
        Visaobj[$("#QueId").val()] = "#8F7CCD";
        $.cookie('basket-data', JSON.stringify(Visaobj));
    }
</script>

