@model Exam_Application.Models.DAL.ObjectiveQuestions
@{
    Layout = null;
}

@using (Html.BeginForm("IdentifySignQuestion", "StudentExam", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="panel panel-default">
    <div class="panel-heading"><strong>Question No. @Model.Queno&nbsp;&nbsp;[ @Model.QuesMarks Marks]&nbsp;&nbsp;@Model.QuestypeName</strong></div>
    <div class="table-responsive">
        <table class="table table-striped table">
            <thead>
                <tr>
                    <td>
                        @Html.Raw(Server.HtmlDecode(@Model.Question))
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label>
                                @Html.HiddenFor(x => x.CorrecrtWrong)
                                @Html.HiddenFor(x => x.Examid)
                                @Html.HiddenFor(x => x.Studentid)
                                @Html.HiddenFor(x => x.QueId)
                                @Html.HiddenFor(x => x.CorrectAnswerDD)
                                @Html.HiddenFor(x => x.StudentGiveAnswer)
                                @Html.HiddenFor(x => x.GainMarks)
                                @*<input type="radio" name="data[Exam][option_selected]" id="ExamOptionSelected1" value="1">*@
                                @Html.RadioButton("Answer1", new { @value = "1" }) <img src="@Model.Answer1" style="width:10%;height:auto;" />
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @*<input type="radio" name="data[Exam][option_selected]" id="ExamOptionSelected2" value="2">active transport*@
                                @Html.RadioButton("Answer1", new { @value = "2" }) <img src="@Model.Answer2" style="width:10%;height:auto;" />
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @*<input type="radio" name="data[Exam][option_selected]" id="ExamOptionSelected3" value="3">diffusion*@
                                @Html.RadioButton("Answer1", new { @value = "3" })  <img src="@Model.Answer3" style="width:10%;height:auto;" />
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @*<input type="radio" name="data[Exam][option_selected]" id="ExamOptionSelected4" value="4">passive transport*@
                                @Html.RadioButton("Answer1", new { @value = "4" })  <img src="@Model.Answer4" style="width:10%;height:auto;" />
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <a href="http://eduexpression.com/envato/Exams/start/2/1" class="btn btn-default btn-sm btn-block">← Prev</a>
            </div>
            <div class="col-md-2">
                <a href="http://eduexpression.com/envato/Exams/start/2#" onclick="callUserAnswerSave();" class="btn btn-success btn-sm btn-block"><span class="glyphicon glyphicon-check"></span>&nbsp;Save</a>
            </div>
            <div class="col-md-3">
                <a href="http://eduexpression.com/envato/Exams/start/2#" onclick="callUserAnswerSaveNext();" class="btn btn-success btn-sm btn-block"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Save &amp; Next</a>
            </div>
            <div class="col-md-3">
                <a href="http://eduexpression.com/envato/Exams/resetAnswer/2/1" class="btn btn-danger btn-sm btn-block"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Reset Answer </a>
            </div>
            <div class="col-md-2">
                <a href="http://eduexpression.com/envato/Exams/start/2/2" class="btn btn-default btn-sm btn-block">Next →</a>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>

}