@model Exam_Application.Models.DAL.MainExamModel
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0032)http://eduexpression.com/envato/ -->
<html lang="en" class="sb-init">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-translate-customization" content="839d71f7ff6044d0-328a2dc5159d6aa2-gd17de6447c9ba810-f">
    <title>
        Student Exam
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <style type="text/css">
        #timer {
            margin-left: 43%;
            font-size: 20px;
        }

        hr {
            margin-top: 0px !important;
        }

        .RajQuest {
            text-align: center;
            margin: 0;
            padding: 8px 0px 8px 0px;
            border-bottom: 1px solid black;
        }

        .RAJPANNEL {
            border-radius: 0px !important;
            border-color: black;
        }

        .RAJColor {
            background-color: #fff;
            border-color: black;
            color: black;
        }
        .Raj {
            padding: 3px !important;
        }

        .contentdata {
            overflow: auto;
            position: relative;
            width: 100%;
            height: 300px;
            min-height: 200px;
        }      
    </style> 
</head>
<body cz-shortcut-listen="true">

    <div id="sb-site" style="min-height: 1137px;">
        <div id="wrap">
            <div class="main-inner-content">
                <header id="header" class="section cover header-bg" data-bg="/envato//img//design200/slider.png" style="background-image: url(&quot;/envato//img//design200/slider.png&quot;);">
                    @*<div class="header-fixed affix">
                            <div class="logo-header">
                                <div class="container">
                                    <div class="logo-container pull-left clearfix HeaderRaj">
                                        <div class="col-sm-2">
                                            <h3><strong><i><p><img src="~/AdminFiles/Images/Logos/RajLogoBig.jpg" alt="Exam Center" width="90" class="img-responsive"></p></i></strong></h3>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="~/AdminFiles/Images/Logos/WhiteNameplate.jpg" style="width: 100%;margin-left: -15%;margin-top: 5.1%;" />
                                        </div>
                                    </div>
                                    <div class="menu-container pull-right">
                                        <div class="site-menu">
                                            <div class="site-menu-inner clearfix">
                                                <div class="site-menu-container pull-left">
                                                    <nav class="hidden-xs hidden-sm">
                                                        <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                                            <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                                                            <li
                                                            <li ="" class=""><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;Sign In</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                            </div>
                        </div>*@
                    <div class="logo-header">
                        <div class="container">
                            <div class="logo-container clearfix" style="margin-bottom: -3%;">
                                <div class="col-sm-8 logo pull-left HeaderRaj">
                                    <div class="col-sm-2" style="width:78px !important">
                                        <h3><strong><i><p><img src="~/AdminFiles/Images/Logos/RajLogoBig.jpg" alt="Exam Center" width="90" class="img-responsive"></p></i></strong></h3>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="~/AdminFiles/Images/Logos/WhiteNameplate.jpg" style="width: 100%;margin-left: -8%;margin-top: 2.1%;" />
                                    </div>

                                </div>

                                <div class="col-sm-4 social-info pull-right hidden-xs hidden-sm" style="font-weight:bold;">
                                    <div class="col-sm-2" style="margin-left:25%;">
                                        <img src="/AdminFiles/Images/graduated.png" style="width:45px;" class="responsive">
                                    </div>
                                    &nbsp;&nbsp;Welcome ! Student Logged &nbsp;<br />
                                    <div class="col-sm-3" style="width:29% !important">Time Left:</div><div class="col-sm-1" style="margin-left: -6%;"><div id="timer"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                    </div>
                    <div class="site-menu">
                        <div class="container">
                            <hr />
                            @*<div class="site-menu-inner clearfix">
                                    <div class="site-menu-container pull-left">
                                        <nav class="hidden-xs hidden-sm">
                                            <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                                <li class=""><a href="/StudentExam/StudentLogout"><span class="glyphicon glyphicon-lock"></span>&nbsp;Sign Out</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                </header>
                <div id="page-content">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-9">

                                <div id="page-content">
                                    <div class="container">
                                        <div class="row">
                                            @using (Html.BeginForm("StudentDashboard", "StudentExam", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {

                                                <div style="display:none;"><input type="hidden" name="_method" value="POST"></div>
                                                <div class="col-md-9">
                                                    @*<div class="panel panel-default">
                                                        <div class="panel-heading"><strong>Exam Questions</strong></div>*@
                                                    @Html.Hidden("ExamHiddenid", @Model.Examid)
                                                    @Html.Hidden("StudHiddenid", @Model.Studentid)
                                                    @Html.HiddenFor(x => x.Ques_fkid)
                                                    @Html.HiddenFor(x => x.Qnono)
                                                    @Html.Hidden("totalQ", @Model.QueIndexer.Count())
                                                    @Html.HiddenFor(x => x.ExamStartDatetime)
                                                    @Html.HiddenFor(x => x.ExamDuration)
                                                    @*<div class="panel-body">
                                                        <p>
                                                            <small>
                                                                You have started the exam on <b>@Model.ExamStartDatetime.</b>
                                                                Time duration for this exam is <b>@ViewBag.duration (HH:MM)</b>
                                                                Your exam will be submitted automatically after Time Over.
                                                            </small>
                                                        </p>*@
                                                    <div id="Partiall" class="panel panel-default">

                                                    </div>
                                                    @*</div>
                                                        </div>*@
                                                </div>
                                                <input type="hidden" name="saveNext" value="" id="ExamSave">

                                                <div class="col-md-3">
                                                    <div class="panel-group" id="accordion">

                                                        <div class="panel panel-primary RAJPANNEL">
                                                            <div style="">
                                                                <h4 class="RajQuest">Questions (@Model.QueIndexer.Count())</h4>
                                                            </div>
                                                            <div id="Biology" class="panel-collapse collapse in contentdata">
                                                                <div class="panel-body">
                                                                    <div class="row" style="margin-left:-5px !important;">
                                                                        @{
                                                int QNO = 1;
                                                foreach (var item in Model.QueIndexer.ToList())
                                                {
                                                    <div class="col-sm-3" style="padding:2px 2px 2px 2px;width:30px !important;margin-right: 5px;margin-bottom: 7px;"><a href="#" onclick="ChangeQuestion(this)" id="@item.Questionid" class="Raj RAJColor btn btn-info btn-block @item.QueNo">@item.QueNo</a></div>
                                                    QNO = QNO + 1;
                                                }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="col-md-6 mrg-1" style="margin: 10px 36px 0px -29px;"><i class="fa fa-square" style="background-color:#87B713;color: #87B713;border: 1px solid black;" aria-hidden="true"></i>&nbsp;Answered</div>
                                                            <div class="col-md-5 mrg-1" style="margin: 10px 0px 0px 0px;"><i class="fa fa-square" style="background-color:#B2510D;color: #B2510D;border: 1px solid black;" aria-hidden="true"></i>&nbsp;Visited</div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="col-md-6 mrg-1" style="margin: 10px 36px 0px -29px;"><i class="fa fa-square" style="background-color:#fff;color: #fff;border: 1px solid black;" aria-hidden="true"></i>&nbsp;Not Visited</div>
                                                            <div class="col-md-5 mrg-1" style="margin: 10px 0px 0px 0px;"><i class="fa fa-square" style="background-color:bisque;color: bisque;border: 1px solid black;" aria-hidden="true"></i>&nbsp;Current</div>
                                                        </div>
                                                      
                                                        <div class="col-sm-12">
                                                            <div class="col-md-6 mrg-1" style="margin: 10px 36px 0px -29px;"><i class="fa fa-square" style="background-color:#8F7CCD;color: #8F7CCD;border: 1px solid black;" aria-hidden="true"></i>&nbsp;Marked</div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="margin-top:1%;">
                                                    <a href="#" class="btn btn-danger btn-sm btn-block" onclick="FinalExamSubmit()" style="padding:10px;"><span class="glyphicon glyphicon-lock"></span>&nbsp;Finish Exam </a>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<footer id="footer">
            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget">
                                <h5 class="widget-title">
                                    All Rights Reserved By<span> OTA Kamptee</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="widget">
                                <h5 class="widget-title">
                                    Time <span>@DateTime.Now</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-credits">
                <div class="container">
                    <div class="footer-credits-inner">
                        <div class="row">
                            <div class="col-md-6">
                                <span>Powered by <a href="#" target="_blank">OTA Kamptee.</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>*@
    </div>

    <div class="sb-slidebar sb-right">
        <div class="sb-menu-trigger"></div><ul class="mobile-menu">
            <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Exam</a></li>
        </ul>
    </div><a class="back-to-top" style="display: block;"><i class="fa fa-angle-up"></i></a>
    <div id="ArticlesHolder"></div>
</body>
</html>
<script src="~/AdminFiles/RajCustom/MainExam.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var ques_id = $("#Ques_fkid").val();
        var Qno = $("#Qnono").val();
        $.ajax({
            type: "GET",
            url: '/StudentExam/ObjectiveQuestion',
            data: { QuestionId: ques_id, QuestionNo: Qno },
            success: function (data, textStatus, jqXHR) {                
                $('#Partiall').html(data);
                $(".Inta").mCustomScrollbar();
            }
        });
        if ('@ViewBag.fi' != '') {
            $(".Raj").each(function () {
                $("#ArticlesHolder").data('' + $(this).attr('id') + '', $(this).css('background-color'))
            })
            $.cookie("basket-data", JSON.stringify($("#ArticlesHolder").data()));
        }
        setInterval(function () {
            if ($("#timer").html() == "00:00:00") {
                var e = $("#Examid").val();
                var s = $("#Studentid").val();
                $.getJSON("/StudentExam/SubmitExam?eid=" + e + "&sid=" + s, function (data) {
                    if (data == "s") { window.location.href = "/StudentExam/AfterSubmitForm"; }
                })
            }
        }, 3000);

        $(document).bind("contextmenu", function (e) {
            return false;
        });
        document.onkeypress = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123) {
                return false;
            }
        }
        document.onmousedown = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123) {
                return false;
            }
        }
        document.onkeydown = function (event) {
            event = (event || window.event);
            if (event.keyCode == 123) {
                return false;
            }
        }

    })
</script>
<script>
    $(function () {
        var totaltime = ($("#ExamDuration").val()).split(',');
        $('#timer').countdowntimer({
            hours: totaltime[0],
            minutes: totaltime[1],
            seconds: totaltime[2],
            size: "lg"
        })
        $("#timer").removeAttr('class');
        $(window).load(function () {

            $.mCustomScrollbar.defaults.scrollButtons.enable = true; //enable scrolling buttons by default
            $.mCustomScrollbar.defaults.axis = "yx"; //enable 2 axis scrollbars by default

            $("#Biology").mCustomScrollbar(); 
            
        });
    });

</script>
