@model Exam_Application.Models.DAL.MainExamModel
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0032)http://eduexpression.com/envato/ -->
<html lang="en" class="sb-init">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-translate-customization" content="839d71f7ff6044d0-328a2dc5159d6aa2-gd17de6447c9ba810-f">
    <title>
        Student Exam
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <link href="~/AdminFiles/CSS/jquery.countdown.css" rel="stylesheet" />
    <script src="~/AdminFiles/JS/jquery.countdown.min.js"></script>
 
</head>
<body cz-shortcut-listen="true">

    <div id="sb-site" style="min-height: 1137px;">
        <div id="wrap">
            <div class="main-inner-content">
                <header id="header" class="section cover header-bg" data-bg="#">
                    <div class="header-fixed affix">
                        <div class="logo-header">
                            <div class="container" style="display:none">
                                <div class="logo-container pull-left clearfix">
                                    <div class="logo">
                                        <h1 class="site-title"></h1><h1>Edu Expressio Demo Site</h1>

                                        <p class="site-desc">Edu Expressio Demo Site</p>
                                    </div>
                                </div>
                                <div class="menu-container pull-right">
                                    <div class="site-menu">
                                        <div class="site-menu-inner clearfix">
                                            <div class="site-menu-container pull-left">
                                                <nav class="hidden-xs hidden-sm">
                                                    <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                                        <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Exam</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                        </div>
                    </div>
                    <div class="logo-header">
                        <div class="container">
                            <div class="logo-container clearfix">
                                <div class="logo pull-left">
                                    <h1 class="site-title"></h1><h1>Edu Expressio Demo Site</h1>

                                    <p class="site-desc">Edu Expressio Demo Site</p>
                                </div>
                                <div class="social-info pull-right hidden-xs hidden-sm">
                                    <div class="col-md-4 text-center">
                                        <div class="btn-group user-login">
                                            <div class="btn dropdown-toggle" style="background: none;border: 0px;box-shadow: none;" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-user btn btn-success btn-sm"></span>&nbsp;Welcome ! @try
                                                {@Request.Cookies["search"].Values["Stud"]}
                                                catch { } &nbsp;<span class="caret"></span>
                                            </div>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table" style="margin-bottom:0px">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="2"><a href="#" class="btn btn-primary btn-xs btn-block"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a>											</td>
                                                                    <td><a href="/StudentExam/StudentLogout" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a>											</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong><small></small></strong>
                                    </div>
                                </div>

                                <div class="social-info pull-right hidden-xs hidden-sm" style="display:none;">
                                    <ul class="social textcolor list-unstyled">
                                        <li class="phone active"><a href="#"><i class="fa fa-phone"></i><span>0000-0000</span></a></li>
                                        <li class="mail"><a href="#"><i class="fa fa-envelope"></i><span>info@eduexpression.com</span></a></li>
                                        <li class="facebook"><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i><span>follow on facebook</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                    </div>
                    <div class="site-menu">
                        <div class="container">
                            <div class="site-menu-inner clearfix">
                                <div class="site-menu-container pull-left">
                                    <nav class="hidden-xs hidden-sm">
                                        <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                            <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Exam</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </header>
                <div id="page-content">
                    <div class="container mrg">
                        <div class="row">

                            <div class="col-md-9">

                                <div id="page-content">
                                    <div class="container mrg">
                                        <div class="row">
                                            @using (Html.BeginForm("StudentDashboard", "StudentExam", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {

                                                <div style="display:none;"><input type="hidden" name="_method" value="POST"></div>	<div class="col-md-9" style="margin-bottom: 18%;">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading"><strong>Exam Questions</strong></div>
                                                        @Html.Hidden("ExamHiddenid", @Model.Examid)
                                                        @Html.Hidden("StudHiddenid",@Model.Studentid )
                                                        @Html.HiddenFor(x=>x.Ques_fkid)
                                                        @Html.HiddenFor(x=>x.Qnono)
                                                        <div class="panel-body">
                                                            <p>
                                                                <small>
                                                                    You have started the exam on @Model.ExamStartDatetime.
                                                                    Time duration for this exam is @Model.ExamDuration .
                                                                    Your exam will be submitted automatically after Time Over.
                                                                </small>
                                                            </p>
                                                            <div id="Partiall" class="panel panel-default">


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="saveNext" value="" id="ExamSave">

                                                <div class="col-md-3">
                                                    <div id="timer"><div id="maincount" class="hasCountdown"><span class="countdown_row countdown_show3"><span class="countdown_section"><span class="countdown_amount">2</span><br>Hours</span><span class="countdown_section"><span class="countdown_amount">59</span><br>Minutes</span><span class="countdown_section"><span class="countdown_amount">4</span><br>Seconds</span></span></div></div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="panel-group" id="accordion">

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Biology">Objective</a></h4>
                                                            </div>
                                                            <div id="Biology" class="panel-collapse collapse in">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        @{
                                                int QNO = 1;
                                                foreach (var item in Model.QueIndexer.Where(x => x.Quest_type == 1).ToList())
                                                {
                                                    <div class="col-md-3 mrg-1"><a href="#" onclick="ChangeQuestion(this)" id="@item.Questionid" class="Raj btn btn-info btn-block @item.QueNo">@item.QueNo</a></div>
                                                    QNO = QNO + 1;
                                                }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Chemistry">True False</a></h4>
                                                            </div>
                                                            <div id="Chemistry" class="panel-collapse collapse ">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        @{
                                                foreach (var item in Model.QueIndexer.Where(x => x.Quest_type == 2).ToList())
                                                {
                                                    <div class="col-md-3 mrg-1"><a href="#" onclick="TruefalseChangeQuestion(this)" id="@item.Questionid" class="Raj btn btn-info btn-block @item.QueNo">@item.QueNo</a></div>
                                                    QNO = QNO + 1;
                                                }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Maths">Fill in Blanck</a></h4>
                                                            </div>
                                                            <div id="Maths" class="panel-collapse collapse ">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        @{
                                                foreach (var item in Model.QueIndexer.Where(x=>x.Quest_type == 3).ToList())
                                                {
                                                    <div class="col-md-3 mrg-1"><a href="#" onclick="BlanckSpaceChangeQuestion(this)" id="@item.Questionid" class="Raj btn btn-info btn-block @item.QueNo">@item.QueNo</a></div>
                                                    QNO = QNO + 1;
                                                }
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Physics">Match Content</a></h4>
                                                            </div>
                                                            <div id="Physics" class="panel-collapse collapse ">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        @{
                                                foreach (var item in Model.QueIndexer.Where(x => x.Quest_type == 5).ToList())
                                                {
                                                    <div class="col-md-3 mrg-1"><a href="#" onclick="MatchContentChangeQuestion(this)" id="@item.Questionid" class="Raj btn btn-info btn-block @item.QueNo">@item.QueNo</a></div>
                                                    QNO = QNO + 1;
                                                }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#Trafik">Identify Sign</a></h4>
                                                            </div>
                                                            <div id="Trafik" class="panel-collapse collapse ">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        @{
                                                foreach (var item in Model.QueIndexer.Where(x => x.Quest_type == 6).ToList())
                                                {
                                                    <div class="col-md-3 mrg-1"><a href="#" onclick="IdentifysignChangeQuestion(this)" id="@item.Questionid" class="Raj btn btn-info btn-block @item.QueNo">@item.QueNo</a></div>
                                                    QNO = QNO + 1;
                                                }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#TrafikRAJ">Full Form</a></h4>
                                                            </div>
                                                            <div id="TrafikRAJ" class="panel-collapse collapse ">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        @{
                                                foreach (var item in Model.QueIndexer.Where(x => x.Quest_type == 7).ToList())
                                                {
                                                    <div class="col-md-3 mrg-1"><a href="#" onclick="FullformChangeQuestion(this)" id="@item.Questionid" class="Raj btn btn-info btn-block @item.QueNo">@item.QueNo</a></div>
                                                    QNO = QNO + 1;
                                                }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <form action="http://eduexpression.com/envato/Exams/finish/2" name="post_5a2e811a54ade609588054" id="post_5a2e811a54ade609588054" style="display:none;" method="post"><input type="hidden" name="_method" value="POST"></form><a href="http://eduexpression.com/envato/Exams/start/2#" class="btn btn-danger btn-sm btn-block" onclick="if (confirm(&quot;After submitting the exam, your exam will closed? Press OK to submit the exam or Cancel to return&quot;)) { document.post_5a2e811a54ade609588054.submit(); } event.returnValue = false; return false;"><span class="glyphicon glyphicon-lock"></span>&nbsp;Finish Exam </a>
                                                </div>
                                                <div class="col-md-3 mrg-1">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">Legend</h4>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-6 mrg-1"><span class="btn btn-info btn-small">Current Ques</span></div>
                                                                <div class="col-md-5 mrg-1"><span class="btn btn-default btn-small">Not Visited&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 mrg-1"><span class="btn btn-success btn-small">Answered&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                                                                <div class="col-md-5 mrg-1"><span class="btn btn-warning btn-small">Not Answered</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><footer id="footer">
            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget">
                                <h5 class="widget-title">
                                    Copyright © 2017<span> Edu Expressio Demo Site</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="widget">
                                <h5 class="widget-title">
                                    Time <span>13-12-2017 05:07:04 PM</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-credits">
                <div class="container">
                    <div class="footer-credits-inner">
                        <div class="row">
                            <div class="col-md-6">
                                <span>Powered by <a href="#" target="_blank">Eduexpression.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="sb-slidebar sb-right">
        <div class="sb-menu-trigger"></div><ul class="mobile-menu">
            <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Exam</a></li>
        </ul>
    </div><a class="back-to-top" style="display: block;"><i class="fa fa-angle-up"></i></a>
</body>
<script src="~/AdminFiles/RajCustom/MainExam.js"></script>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var ques_id = $("#Ques_fkid").val();
        var Qno = $("#Qnono").val();
        $.ajax({
            type: "GET",
            url: '/StudentExam/ObjectiveQuestion',
            data: { QuestionId: ques_id, QuestionNo: Qno },
            success: function (data, textStatus, jqXHR) {
                $('#Partiall').html(data);
            }
        });
    })
</script>

