@model Exam_Application.Models.DAL.tbl_AttemptExamAnswerSheetss
@{
    Layout = null;
}

@using (Html.BeginForm("TrueFalseQuestion", "StudentExam", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="panel panel-default">
    <div class="panel-heading"><strong>Question No. @Model.QNo&nbsp;&nbsp;[ @Model.QuesMarks Marks]&nbsp;&nbsp;@Model.QuestypeName</strong></div>
    <div class="table-responsive">
        <table class="table table-striped table">
            <thead>
                <tr>
                    <td>
                        @Html.Raw(Server.HtmlDecode(@Model.Question))
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label>
                                @Html.HiddenFor(x => x.pkid)
                                @Html.HiddenFor(x => x.CorrecrtWrong)
                                @Html.HiddenFor(x => x.Examid)
                                @Html.HiddenFor(x => x.Studentid)
                                @Html.HiddenFor(x => x.QueId)                         
                                @Html.HiddenFor(x => x.StudentGiveAnswerTrueFalse)
                                @Html.HiddenFor(x => x.GainMarks)
                                @Html.HiddenFor(x => x.QuesMarks)

                                @Html.HiddenFor(x => x.QNo)
                                @Html.HiddenFor(x => x.QuestypeName)
                                @Html.HiddenFor(x => x.Question)
                                @Html.HiddenFor(x => x.TrueFalse)
                             
                                @*<input type="radio" name="data[Exam][option_selected]" id="ExamOptionSelected1" value="1">*@
                                @Html.RadioButton("Answer1", "True") True <br /><br /> @Html.RadioButton("Answer1", "False") False
                            </label>
                        </div>                     
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <a href="#" onclick="Pre()" class="btn btn-default btn-sm btn-block">← Prev</a>
            </div>
            <div class="col-md-3">
                <a href="#" onclick="ResetAnswer()" class="btn btn-danger btn-sm btn-block"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Reset Answer </a>
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-success btn-sm btn-block" value="Save & Next">
            </div>
            <div class="col-md-2">
                <a href="#" onclick="Next()" class="btn btn-default btn-sm btn-block">Next →</a>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#Examid").val($("#ExamHiddenid").val());
        $("#Studentid").val($("#StudHiddenid").val());
        $('input:radio').click(function () {
            debugger;
            var va = $(this).val();
            $("#StudentGiveAnswerTrueFalse").val(va);
            if ($("#StudentGiveAnswerTrueFalse").val() != "") {
                if ($("#StudentGiveAnswerTrueFalse").val() == $("#TrueFalse").val()) {
                    $("#CorrecrtWrong").val(1);
                }
                else { $("#CorrecrtWrong").val(0); }

                if ($("#CorrecrtWrong").val() == 1) {
                    $("#GainMarks").val($("#QuesMarks").val());
                }
                else { $("#GainMarks").val(0); }
            }
        })

        if ($("#pkid").val() != "") {
            debugger;
            $('input[type=radio][value="' + $("#StudentGiveAnswerTrueFalse").val() + '"]').first().attr('checked', 'checked');
        }

    })
</script>