@model Exam_Application.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-content">
    <div class="container mrg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="widget">
                            <h4 class="widget-title">Change <span>Password</span></h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <label for="group_name" class="col-sm-3 control-label">Old Password</label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control",@placeholder="Enter Old Password"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="group_name" class="col-sm-3 control-label">New Password</label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Enter New Password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="group_name" class="col-sm-3 control-label">Confirm Password</label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm New Password" })
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Update</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Exception' != "") {
            alert("@ViewBag.Exception");
        }
    })
</script>