@model Exam_Application.Models.DAL.QuestionMaster
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .form-horizontal .form-group {
        margin: 0 !important;
    }

    .mce-container-body {
        background-color: #E7E7E7;
    }

    .Matchfield {
        margin-bottom: 1%;
        font-weight: normal !important;
    }

    .fullfo {
        margin-bottom: 1%;
        font-weight: normal !important;
    }

    .radio-inline {
        padding-top: 0px !important;
        margin-top: -3px !important;
    }

    .Rtype {
        padding-left: 0 !important;
        padding-right: 10px;
    }
</style>
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script src="~/AdminFiles/JS/RajAddQuestion.js"></script>

<script type="text/javascript">
    tinyMCE.init({"selector":"textarea","theme":"modern","plugins":"advlist,autolink,lists,link,image,charmap,print,"+
        "preview,hr,anchor,pagebreak,\r\n searchreplace,wordcount,visualblocks,visualchars,code,fullscreen,\r\n "+
        "insertdatetime,media,nonbreaking,save,table,contextmenu,directionality,\r\n  emoticons,template,paste,"+
        "textcolor,colorpicker","relative_urls":false,"browser_spellcheck":true,"toolbar1":"insertfile, undo, redo,"+
            "|, styleselect, fontselect, |, fontsizeselect, |, bold, italic, |, alignleft, aligncenter, alignright,"+
            "alignjustify, |, bullist, numlist, outdent, indent","toolbar2":"link, image, media,  emoticons, |,"+
                "colorpicker, forecolor, backcolor, |, preview, print, code",
        "image_advtab":true,file_browser_callback : elFinderBrowser,"language":"en","mode":"exact",
        "elements":"question"});$(".tinybtn").hide();function elFinderBrowser (field_name, url, type, win) {tinyMCE.activeEditor.windowManager.open({file: "#",title: "File Manager",width: 900,  height: 500,resizable: "yes"}, {setUrl: function (url) {win.document.getElementById(field_name).value = url;}});return false;}
</script>

<div id="page-content">
    <div class="container mrg">

        @using (Html.BeginForm("AddQuestion", "SubjectGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="widget">
                                <h4 class="widget-title">
                                    Add <span>Questions</span>
                                    <a href="/SubjectGroup/QuestionList" class="btn btn-success" style="float:right;"><span class="glyphicon glyphicon-list-alt" style="color: #fff;"></span>&nbsp;View Question</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="row">
                                    @Html.HiddenFor(x => x.pkid)
                                    @Html.HiddenFor(x => x.Questtype_fkid)
                                    @Html.HiddenFor(x => x.Adddate)
                                    @Html.HiddenFor(x => x.Status)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()

                                    <h5><strong>Question Type</strong></h5>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            @*<div class="radio-inline"><input type="radio" name="data[Question][qtype_id]" id="qtype_id1" value="1"><label for="qtype_id1" class="radio-inline">Objective Questions</label></div>*@
                                            <div class="radio-inline">
                                                <input type="radio" name="data[Question][qtype_id]" id="qtype_id1" value="1">
                                                <label for="qtype_id1" class="radio-inline Rtype">Objective Questions</label>
                                            </div>
                                            <div class="radio-inline"><input type="radio" name="data[Question][qtype_id]" id="qtype_id2" value="2"><label for="qtype_id2" class="radio-inline Rtype">True / False</label></div>
                                            <div class="radio-inline"><input type="radio" name="data[Question][qtype_id]" id="qtype_id3" value="3"><label for="qtype_id3" class="radio-inline Rtype">Fill in the blanks</label></div>
                                            <div class="radio-inline" style="display:none;"><input type="radio" name="data[Question][qtype_id]" id="qtype_id4" value="4"><label for="qtype_id4" class="radio-inline Rtype">Subjective</label></div>
                                            <div class="radio-inline"><input type="radio" name="data[Question][qtype_id]" id="qtype_id5" value="5"><label for="qtype_id4" class="radio-inline Rtype">Match Content</label></div>
                                            <div class="radio-inline"><input type="radio" name="data[Question][qtype_id]" id="qtype_id6" value="6"><label for="qtype_id4" class="radio-inline Rtype">Identify Sign</label></div>
                                            <div class="radio-inline"><input type="radio" name="data[Question][qtype_id]" id="qtype_id7" value="7"><label for="qtype_id7" class="radio-inline Rtype">Full Form</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs" id="myquestiontab">
                                <li class="active"><a href="#Question" data-toggle="tab">Question</a></li>
                                <li><a href="#Answer1" data-toggle="tab">Answer1</a></li>
                                <li><a href="#Answer2" data-toggle="tab">Answer2</a></li>
                                <li><a href="#Answer3" data-toggle="tab">Answer3</a></li>
                                <li><a href="#Answer4" data-toggle="tab">Answer4</a></li>
                                <li><a href="#CorrectAnswer" data-toggle="tab">Correct Answers</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="Question">
                                    <h4>Question</h4><hr>
                                    @*<textarea name="data[Question][question]" class="form-control" placeholder="Question" cols="30" rows="6" id="QuestionQuestion"></textarea><br>*@
                                    @Html.TextAreaFor(x => x.Question, new { @class = "form-control", @placeholder = "Question", @cols = "30", @rows = "6" })<br />
                                </div>
                                <div class="tab-pane" id="Answer1">
                                    <h4>Answer1</h4><hr>
                                    @*<textarea name="data[Question][option1]" class="form-control" placeholder="Answer1" cols="30" rows="6" id="QuestionOption1"></textarea><br>*@
                                    @Html.TextAreaFor(x => x.Answer1, new { @class = "form-control", @placeholder = "Answer1", @cols = "30", @rows = "6" })<br />
                                </div>
                                <div class="tab-pane" id="Answer2">
                                    <h4>Answer2</h4><hr>
                                    @*<textarea name="data[Question][option2]" class="form-control" placeholder="Answer2" cols="30" rows="6" id="QuestionOption2"></textarea><br>*@
                                    @Html.TextAreaFor(x => x.Answer2, new { @class = "form-control", @placeholder = "Answer2", @cols = "30", @rows = "6" })<br />
                                </div>
                                <div class="tab-pane" id="Answer3">
                                    <h4>Answer3</h4><hr>
                                    @*<textarea name="data[Question][option3]" class="form-control" placeholder="Answer3" cols="30" rows="6" id="QuestionOption3"></textarea><br>*@
                                    @Html.TextAreaFor(x => x.Answer3, new { @class = "form-control", @placeholder = "Answer3", @cols = "30", @rows = "6" })<br />
                                </div>
                                <div class="tab-pane" id="Answer4">
                                    <h4>Answer4</h4><hr>
                                    @*<textarea name="data[Question][option4]" class="form-control" placeholder="Answer4" cols="30" rows="6" id="QuestionOption4"></textarea><br>*@
                                    @Html.TextAreaFor(x => x.Answer4, new { @class = "form-control", @placeholder = "Answer4", @cols = "30", @rows = "6" })<br />
                                </div>
                                <div class="tab-pane" id="CorrectAnswer">
                                    <div class="input select">
                                        @Html.HiddenFor(x => x.CorrectAnswerDD)
                                        <label for="QuestionAnswer">Answer</label>
                                        <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="1" id="QuestionAnswer1"><label for="QuestionAnswer1">Answer1</label></div>
                                        <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="2" id="QuestionAnswer2"><label for="QuestionAnswer2">Answer2</label></div>
                                        <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="3" id="QuestionAnswer3"><label for="QuestionAnswer3">Answer3</label></div>
                                        <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="4" id="QuestionAnswer4"><label for="QuestionAnswer4">Answer4</label></div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body" id="tf" style="display: none;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h5><strong>True/False</strong></h5>
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="radio-inline">
                                                    @Html.HiddenFor(x => x.TrueFalse)
                                                    <input type="radio" name="data[Question][true_false]" id="QuestionTrueFalseTrue" value="True"><label for="QuestionTrueFalseTrue" class="radio-inline">True</label>
                                                </div><div class="radio-inline"><input type="radio" name="data[Question][true_false]" id="QuestionTrueFalseFalse" value="False"><label for="QuestionTrueFalseFalse" class="radio-inline">False</label>                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="ftb" style="display: none;">
                                <label for="QuestionFillBlank">Blank Space</label>@*<input name="data[Question][fill_blank]" class="form-control" placeholder="Blank Space" maxlength="100" type="text" id="QuestionFillBlank">*@
                                @Html.TextBoxFor(x => x.BlanckSpace, new { @class = "form-control", @placeholder = "BlanckSpace", @maxlength = "100" })
                            </div>

                            <div class="form-group" id="RAJFTB" style="display: none;">
                                <label for="QuestionFillBlank">Subjective Answer</label>@*<input name="data[Question][fill_blank]" class="form-control" placeholder="Blank Space" maxlength="100" type="text" id="QuestionFillBlank">*@
                                @Html.TextAreaFor(x => x.SubAnswer, new { @class = "form-control", @placeholder = "Subjective Answer", @cols = "30", @rows = "6" })
                            </div>

                            <div class="form-group" id="RAJMATCH" style="display: none;font-weight:700;">
                                <div class="col-sm-12"><label><p style="color:#EF4A43">(NOTE:- Fill Complete Row Data Otherwise it will not Save.)</p></label></div>
                                <div class="col-sm-4">
                                    Item Column
                                    @try
                                    {

                                        @Html.HiddenFor(x => x.MATContent[0].pkid)  @Html.TextBoxFor(x => x.MATContent[0].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[1].pkid) @Html.TextBoxFor(x => x.MATContent[1].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[2].pkid) @Html.TextBoxFor(x => x.MATContent[2].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[3].pkid) @Html.TextBoxFor(x => x.MATContent[3].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[4].pkid) @Html.TextBoxFor(x => x.MATContent[4].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[5].pkid) @Html.TextBoxFor(x => x.MATContent[5].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[6].pkid) @Html.TextBoxFor(x => x.MATContent[6].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[7].pkid) @Html.TextBoxFor(x => x.MATContent[7].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[8].pkid) @Html.TextBoxFor(x => x.MATContent[8].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })
                                        @Html.HiddenFor(x => x.MATContent[9].pkid) @Html.TextBoxFor(x => x.MATContent[9].FirstColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Item Name" })

                                    }
                                    catch { }


                                </div>
                                <div class="col-sm-4">
                                    Option Column
                                    @try
                                    {

                                        @Html.TextBoxFor(x => x.MATContent[0].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[1].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[2].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[3].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[4].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[5].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[6].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[7].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[8].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })
                                        @Html.TextBoxFor(x => x.MATContent[9].OppositeColoumn, new { @class = "form-control Matchfield", @placeholder = "Enter Option Name" })

                                    }
                                    catch { }
                                </div>
                                <div class="col-sm-4">
                                    Result Column
                                    @try
                                    {

                                        @Html.TextBoxFor(x => x.MATContent[0].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[1].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[2].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[3].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[4].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[5].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[6].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[7].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[8].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })
                                        @Html.TextBoxFor(x => x.MATContent[9].AnsweColoumn, new { @class = "form-control Matchfield Rajnumber", @placeholder = "Enter Answer Number in 2 Digits", @maxlength = "2" })

                                    }
                                    catch { }
                                </div>
                            </div>

                            <div class="form-group" id="RAJFORM" style="display: none;font-weight:700;">
                                <div class="col-sm-12"><label><p style="color:#EF4A43">(NOTE:- Fill Complete Row Data Otherwise it will not Save.)</p></label></div>
                                <div class="col-sm-4">
                                    Short Form

                                    @try
                                    {

                                        @Html.HiddenFor(x => x.FULLF[0].pkid) @Html.TextBoxFor(x => x.FULLF[0].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[1].pkid) @Html.TextBoxFor(x => x.FULLF[1].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[2].pkid) @Html.TextBoxFor(x => x.FULLF[2].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[3].pkid) @Html.TextBoxFor(x => x.FULLF[3].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[4].pkid) @Html.TextBoxFor(x => x.FULLF[4].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[5].pkid) @Html.TextBoxFor(x => x.FULLF[5].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[6].pkid) @Html.TextBoxFor(x => x.FULLF[6].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[7].pkid) @Html.TextBoxFor(x => x.FULLF[7].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[8].pkid) @Html.TextBoxFor(x => x.FULLF[8].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })
                                        @Html.HiddenFor(x => x.FULLF[9].pkid) @Html.TextBoxFor(x => x.FULLF[9].FirstColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Short Form" })

                                    }
                                    catch { }
                                </div>
                                <div class="col-sm-4">

                                    Full Form
                                    @try
                                    {

                                        @Html.TextBoxFor(x => x.FULLF[0].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[1].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[2].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[3].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[4].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[5].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[6].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[7].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[8].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })
                                        @Html.TextBoxFor(x => x.FULLF[9].AnsweColoumn, new { @class = "form-control fullfo", @placeholder = "Enter Full Form" })

                                    }
                                    catch { }
                                </div>
                            </div>

                            <div class="form-group" id="myidentifytab" style="display: none;">
                                <label for="QuestionFillBlank">Select File </label><p style="color:#EF4A43">(NOTE:- Select Four Files at a time)</p>@*<input name="data[Question][fill_blank]" class="form-control" placeholder="Blank Space" maxlength="100" type="text" id="QuestionFillBlank">*@
                                <input type="file" name="files" id="files" multiple="multiple" class="form-control" />
                                <div class="input select">
                                    <label for="QuestionAnswer">Answer</label>
                                    <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="1" id="FQuestionAnswer1"><label for="QuestionAnswer1">File1</label></div>
                                    <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="2" id="FQuestionAnswer2"><label for="QuestionAnswer2">File2</label></div>
                                    <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="3" id="FQuestionAnswer3"><label for="QuestionAnswer3">File3</label></div>
                                    <div class="checkbox"><input type="checkbox" name="data[Question][answer][]" value="4" id="FQuestionAnswer4"><label for="QuestionAnswer4">File4</label></div>
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="QuestionExplanation" style="margin-top:2%;">Explanation</label><hr>
                                @*<textarea name="data[Question][explanation]" class="form-control" placeholder="Explanation" cols="30" rows="6" id="QuestionExplanation"></textarea><br>*@
                                @Html.TextAreaFor(x => x.Explaination, new { @class = "form-control", @placeholder = "Explanation", @cols = "30", @rows = "6" })<br />
                            </div>


                            <div class="panel panel-default mrg pull-left">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="QuestionHint">Course Type</label>
                                        @Html.DropDownListFor(m => m.Subject_fkid, (IEnumerable<SelectListItem>)@ViewBag.CourseList, "Select Course", new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        <label for="QuestionHint">Divsion Type</label>
                                        @Html.DropDownListFor(m => m.Division_fkid, (IEnumerable<SelectListItem>)@ViewBag.DivisionList, "Select Division", new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        <label for="QuestionHint">Hint</label>@*<input name="data[Question][hint]" class="form-control" placeholder="Hint" type="text" id="QuestionHint">*@
                                        @Html.TextBoxFor(x => x.hint, new { @class = "form-control", @placeholder = "Hint" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="QuestionMarks">Marks</label>@*<input name="data[Question][marks]" class="form-control validate[required,custom[number]]" placeholder="Marks" step="any" type="number" id="QuestionMarks">*@
                                                @Html.TextBoxFor(x => x.Marks, new { @class = "form-control Rajdecimal", @placeholder = "Marks" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="QuestionNegativeMarks">Other Marks</label>@*<input name="data[Question][negative_marks]" class="form-control validate[required,custom[number]]" placeholder="Negative Marks" step="any" type="number" id="QuestionNegativeMarks">*@
                                            @Html.TextBoxFor(x => x.NegativeMarks, new { @class = "form-control Rajdecimal", @readonly = "readonly", @placeholder = "Other Marks" })
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="margin-bottom: 2%;">
                                        <div class="form-group">
                                            <label for="QuestionDiffId">Difficulty Level</label>
                                            @Html.DropDownListFor(m => m.SelectLevel, new List<SelectListItem> { new SelectListItem { Text = "Easy", Value = "1" }, new SelectListItem { Text = "Medium", Value = "2" }, new SelectListItem { Text = "Difficult", Value = "3" } }, "Select Level", new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success" style="margin-top:1%;"><span class="glyphicon glyphicon-plus-sign"></span> Save</button>
                                    <button type="button" class="btn btn-danger" onclick="window.location=&#39;QuestionList&#39;" style="margin-top:1%;"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
<script src="~/AdminFiles/RajCustom/common.js"></script>
<script type="text/javascript">
    if ('@ViewBag.Exception' != "") {
        PranavAlert("Success","@ViewBag.Exception");
    }
    function MATChange()
    {
        debugger;
        alert($(this).val())

    }
</script>