@model Exam_Application.Models.DAL.QuestionMaster
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .form-horizontal .form-group {
        margin: 0 !important;
    }

    .mce-container-body {
        background-color: #E7E7E7;
    }
</style>
<div id="page-content">
    <div class="container mrg">

        @using (Html.BeginForm("UploadExcel", "SubjectGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="widget">
                                <h4 class="widget-title">
                                    Upload <span>Questions</span>
                                    <a href="/SubjectGroup/QuestionList" class="btn btn-success" style="float:right;"><span class="glyphicon glyphicon-list-alt" style="color: #fff;"></span>&nbsp;View Question</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="row">
                                    @Html.HiddenFor(x => x.pkid)
                                    @Html.AntiForgeryToken()
                                    <span style="float:right;"><a href="#" onclick="GetFileDocument()" style="color: #EF4A43 !important;font-weight:bold;">Download Format</a></span>
                                    <h5><strong>Select Filters</strong></h5>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-sm-4">
                                                <label>Select Question Type</label>
                                                @Html.DropDownListFor(m => m.Questtype_fkid, (IEnumerable<SelectListItem>)@ViewBag.QueTypeList, "Select Question Type", new { @class = "form-control", @required = "required" })
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Select Course Type</label>
                                                @Html.DropDownListFor(m => m.Subject_fkid, (IEnumerable<SelectListItem>)@ViewBag.CourseList, "Select Course", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-sm-4">
                                                <input type="file" name="File" id="FileUpload" class="form-control input-sm" required="required" />
                                                <button type="submit" class="btn btn-success" style="margin-top:3%;"><span class="glyphicon glyphicon-plus-sign"></span> Save</button>
                                                <button type="button" class="btn btn-danger" onclick="window.location=&#39;UploadExcel&#39;" style="margin-top:3%;"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    if ('@ViewBag.Exception' != "") {
        PranavAlert("Success","@ViewBag.Exception");
    }
    function GetFileDocument(){
        if($("#Questtype_fkid").val() == "")
        {
            alert("Please Select Question Type.");
        }
        else
        {
            if($("#Questtype_fkid").val() == 5)
            {
                window.location.href = "/UploadFiles/SampleFiles/Match_Content5.xlsx";
            }
            else if($("#Questtype_fkid").val() == 7)
            {
                window.location.href = "/UploadFiles/SampleFiles/Full_Form7.xlsx";
            }
            else
            {
                window.location.href = "/UploadFiles/SampleFiles/QuestionAnswer.xlsx";
            }
        }
    }
</script>